h1 {
    color: black;
    background-color: rgb(163, 108, 82);
    text-align: center;
}

h2 {
    color: rgb(163, 108, 82);
    background-color: black;
    text-align: center;
}

img {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family:'Times New Roman', Times, serif;
}